<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MorningAlert" value="0 0 9 * * ?"/>  <!--Every day at 9AM-->
    <add key="NoonAlert" value="0 0 13 * * ?"/> <!--Every day at 1PM-->
    <add key="EveningAlert" value="0 0 18 * * ?"/> <!--Every day at 6PM-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>